.hero-about-wrapper {
    background-image: url('../img/about_bg.png');
    background-size: cover;
}

.team-container .member-thumb {
    width: 160px;
    height: auto;
}

.team-container .member-designation::before {
    content: '[ ';
    color: #D81B60;
}

.team-container .member-designation::after {
    content: ' ]';
    color: #D81B60;
}

.social-links > a {
    transform: translateY(0);
    transition: all 0.3s;
}

.social-links > a:hover {
    transform: translateY(-3px);
}


.about-text .team {
    text-align: center;
}

.hero-about .large-cta-icon > span{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 960px) {
    .about-text, .team {
        text-align: center;
    }
}

@media (max-width: 444px) {
    .large-cta-icons-container a:first-child{
        margin-left: 40px;
    }
}