footer {
    background: url("../img/footer_bg.png");
    background-size: cover;
    background-position: center;

}

.footer-link-list {
    display: flex;
    flex-direction: column;
}

.footer-link-list > li {
    display: inline-flex;
}

.footer-link-list a {
    color: rgba(0, 0, 0, 0.54);
}

.footer-link-list a::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 4px;
    border-bottom: 1px dashed #D81B60;
    transition: all 0.3s;
}

.footer-link-list a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.amazon-logo > img {
    width: auto;
    height: 34px;
    max-width: none;
}

footer {
    text-align: center;
}

.footer-link-list li {
    justify-content: center;
}

@media (max-width: 960px) {
    .uk-grid > .footer-section {
        margin-right: auto;
        margin-left: auto;
    }

    .uk-grid > .footer-section:last-child {
        margin-top: 40px;
    }

}

@media (max-width: 640px) {
    .uk-grid > .footer-section:nth-child(3) {
        margin-top: 40px;
    }
}