footer {
    background-color: white;
}

.footer-link-list {
    display: flex;
    flex-direction: column;
}

.footer-link-list > li {
    display: inline-flex;
}

.footer-link-list a{
    color: rgba(0, 0, 0, 0.54);
}

.footer-link-list a::after{
    content: "";
    display: block;
    width: 100%;
    padding-top: 4px;
    border-bottom: 1px dashed #D81B60;
    transition: all 0.3s;
}

.footer-link-list a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.amazon-logo {
    width: auto;
    height: 34px;
    max-width: none;
}