.hero-wrapper {
    background-image: url('../img/hero_bg.png');
    background-size: cover;
}

.hero {
    height: calc(100vh - 80px);
    align-items: center;
}

.grand-title {
    font-size: 64px;
    line-height: 84px;
    color: #112D4E
}

.cta input {
    height: 63px;
    padding-left: 30px;
    padding-right: 50px;
    border: white
}

.cta button.submit, .cta input.submit {
    background-color: #D81B60;
    color: #fff;
    border-radius: 40px;
    padding: 0 40px;
    height: 64px;
    position: relative;
    left: -35px;
    border-color: transparent;
    transition: all 0.3s;
}

.cta button.submit:hover, .cta input.submit:hover {
    background-color: rgb(35, 35, 35);
}

.cta .uk-input:focus {
    border-color:white;
}

.char-bg-plus-char {
    position: relative;
}

.char-container {
    margin-bottom: 70px;
    cursor: pointer;
}

.char-bg-plus-char > img{
    right: 20%;
    top: -30px;
    position: absolute;
}

.char-wrapper {
    align-items: flex-end;
}

.char-container .char-bg{
    transform: translateY(0);
    transition: all 0.3s;
}

.char-container:hover .char-bg {
    transform: translateY(-8px);
    /*transition: all 0.3s;*/
}

.char-large-container {
    position: relative;
}

.char-large-container img.char-large{
    width: 420px;
    height: auto;
    position: relative;
    z-index: 2;
}

.char-large-container img.char-large-bg{
    position: absolute;
    left: 0;
    z-index: 1;
}

.cta-split-screen:hover {
    text-decoration: none;
}

.cta-split-screen::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 4px;
    border-bottom: 1px solid #D81B60;
    transition: all 0.3s;
}

.cta-split-screen:hover::after {
    width: 30%;
}

.large-CTA {
    background: url("../../statics/img/bg_cta.png");
}


.large-cta-icons-container .large-cta-icon {
    flex-direction: column;
    align-items: center;

}

.large-cta-icons-container .large-cta-icon .circle-bg {
    padding: 32px;
    background-color: #fff;
    border-radius: 50%;

}

.large-cta-icons-container .large-cta-icon:hover {
    color: white;
}

.faq-seperator {
    height: 80%;
    top: 20%;
    color: #f00;
    border-left: 1px dashed rgba(0, 0, 0, 0.54);
    padding: 0 !important;
    left: calc(50% + 60px);
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.38) 0%, #fff0 0%);*/
}