body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #F8FAFF;
}

.title-text {
    font-family: 'Saira Semi Condensed', sans-serif !important;
}

.text-primary {
  color: #3F72AF !important
}

.text-accent {
  color: #D81B60 !important
}

.text-dark-blue {
  color: #112D4E !important
}
