body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #F8FAFF;
    color: rgba(0,0,0,0.55);
}


.bg-white {
    background-color: white;
}

.title-text {
    font-family: 'Saira Semi Condensed', sans-serif !important;
}

.text-primary {
    color: #3F72AF !important
}

.text-white {
    color: white;
}

.text-accent {
    color: #D81B60 !important
}

.title-text {
    font-family: 'Saira Semi Condensed', sans-serif !important;;
}

.text-dark-blue {
    color: #112D4E !important
}


.text-grey-54 {
    color: rgba(0, 0, 0, 0.54) !important
}


.text-grey-87 {
    color: rgba(0, 0, 0, 0.87) !important
}

.padding-24px {
    padding: 24px !important;
}

.text-line-height-1 {
    line-height: 1 !important;
}

.section-title {
    font-family: 'Saira Semi Condensed', sans-serif !important;
    font-weight: bold;
    text-transform: uppercase;
}

.section-title.section-title-inverted  {
    color: white;
}

.section-title::before {
    content: '/ ';
    color: #D81B60;
}

.section-title::after {
    content: ' /';
    color: #D81B60;
}

.width-100 {
    width: calc(100% - 80px) !important;
}